#block_4 {

  padding: 100px 0px;
  .title_block_four {
    font: var(--unnamed-font-style-italic) normal
      var(--unnamed-font-weight-bold) var(--unnamed-font-size-70) / 66px
      var(--unnamed-font-family-open-sans);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-4e4e4e);
    text-align: left;

    span {
      font: var(--unnamed-font-style-normal) normal
        var(--unnamed-font-weight-bold) var(--unnamed-font-size-70) / 66px
        var(--unnamed-font-family-open-sans);
      letter-spacing: var(--unnamed-character-spacing-0);
      color: var(--unnamed-color-4e4e4e);
      text-align: left;
    }
  }

  .card {
    border-top: 5px solid var(--unnamed-color-707070);
    border-color: var(--unnamed-color-707070);

    .card-title {
      font: var(--unnamed-font-style-normal) normal
        var(--unnamed-font-weight-bold) 34px/46px
        var(--unnamed-font-family-open-sans);
      letter-spacing: var(--unnamed-character-spacing-0);
      color: var(--unnamed-color-4e4e4e);
    }

    .card-subtitle {
      height: 36px;
    }

    ul {
      padding: 0px;

      li {
        list-style-type: none;
        margin-bottom: 1rem;
        background: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' class='bi bi-check-circle-fill'  style='fill: gray;' viewBox='0 0 16 16'><path d='M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z'/></svg>")
          no-repeat;
        background-size: 30px;
        background-position-y: center;
        padding: 10px 0 10px 40px;

        font: var(--unnamed-font-style-normal) normal
          var(--unnamed-font-weight-bold) 22px/26px
          var(--unnamed-font-family-open-sans);
        letter-spacing: var(--unnamed-character-spacing-0);
        color: var(--unnamed-color-3e3e3e);
      }
    }

    .price {
      font: var(--unnamed-font-style-normal) normal
        var(--unnamed-font-weight-bold) var(--unnamed-font-size-26) /
        var(--unnamed-line-spacing-36) var(--unnamed-font-family-open-sans);
      color: var(--unnamed-color-ffffff);
      background: var(--unnamed-color-969696) 0% 0% no-repeat padding-box;
      border: 1px solid var(--unnamed-color-707070);
      box-shadow: 0px 3px 6px #00000029;
      border-radius: 6px;
    }

    .learn_more {
      border: 2px solid var(--unnamed-color-8000b7);
      border-radius: 33px;
      font: var(--unnamed-font-style-normal) normal
        var(--unnamed-font-weight-600) 22px/30px
        var(--unnamed-font-family-open-sans);
      color: var(--unnamed-color-4e4e4e);

      svg {
        width: 40px;
        height: 40px;
        color: var(--unnamed-color-8000b7);
      }
    }

    .full_elements_card {
      h4 {
        padding-top: 2rem;
        font: var(--unnamed-font-style-italic) normal
          var(--unnamed-font-weight-600) 22px/26px
          var(--unnamed-font-family-open-sans);
        letter-spacing: var(--unnamed-character-spacing-0);
        color: var(--unnamed-color-8000b7);
        text-align: center;
      }

      ul li {
        background-size: 19px;
        padding: 0 0 0 25px;
        font: var(--unnamed-font-style-normal) normal
          var(--unnamed-font-weight-medium) 20px/28px
          var(--unnamed-font-family-open-sans);
        letter-spacing: var(--unnamed-character-spacing-0);
        color: var(--unnamed-color-3e3e3e);
      }
    }
  }

  #most_popular {
    border-top: 5px solid $primary;

    .card-subtitle {
      font: var(--unnamed-font-style-italic) normal
        var(--unnamed-font-weight-600) var(--unnamed-font-size-26) /
        var(--unnamed-line-spacing-36) var(--unnamed-font-family-open-sans);
      letter-spacing: var(--unnamed-character-spacing-0);
      color: var(--unnamed-color-8000b7);
    }

    .price {
      background: var(--unnamed-color-8000b7) 0% 0% no-repeat padding-box;
    }
  }

  .info_price {
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-600)
      22px/30px var(--unnamed-font-family-open-sans);
    color: var(--unnamed-color-8000b7);
  }
}
