@mixin font_button {
    border: 1px solid var(--unnamed-color-707070);
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 6px;
    
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) 36px/49px var(--unnamed-font-family-open-sans);
    color: var(--unnamed-color-ffffff);
}

#block_solutions {

    @include padding_200();

    .title_solutions {
        font: var(--unnamed-font-style-italic) normal var(--unnamed-font-weight-bold) 42px/50px var(--unnamed-font-family-open-sans);
        color: var(--unnamed-color-8000b7);
    }

    .sub_title_social {
        color: var(--unnamed-color-000000);
        font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) 42px/50px var(--unnamed-font-family-open-sans);
    }

    .card-border {
        border-top: 5px solid var(--unnamed-color-707070);

        a {
            background: var(--unnamed-color-969696) 0% 0% no-repeat padding-box;
            @include font_button();
        }
    }

    .card-border-purple {
        border-top: 5px solid var(--unnamed-color-8000b7);

        a {
            background: var(--unnamed-color-8000b7) 0% 0% no-repeat padding-box;
            @include font_button();
        }
    }


    .information_asterisk h2{
        color: var(--unnamed-color-8000b7);
        font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-600) 22px/34px var(--unnamed-font-family-open-sans);
    
        span {
            font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) 27px/34px var(--unnamed-font-family-open-sans);
        }
    }

    .card-contact-us {
        .title_contact_us {
            font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) 34px/46px var(--unnamed-font-family-open-sans);
            color: var(--unnamed-color-4e4e4e);
        }

        a {
            position: absolute;
            background: var(--unnamed-color-8000b7) 0% 0% no-repeat padding-box;
            @include font_button();
        }
    }

    .information_solution {
        font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-600) var(--unnamed-font-size-26)/40px var(--unnamed-font-family-open-sans);
        color: var(--unnamed-color-4e4e4e);
        text-align: left;
    }
}