#block_social {

    padding: 200px 0;

    .title_social {
        color: var(--unnamed-color-8000b7);
        font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-30)/40px var(--unnamed-font-family-open-sans);
    }

    .sub_title_social {
        color: var(--unnamed-color-000000);
        font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-medium) 28px/40px var(--unnamed-font-family-open-sans);
    }
}