@mixin grid-buttons-2 {
    .wpcf7-list-item.first {
        grid-column: 1/2;
        
    }
    .wpcf7-list-item.last {
        grid-column: 2/2;
    }
}

#block_forms {
    background-image: url('/wp-content/uploads/2022/04/background-image-1.jpg');
    background-repeat: no-repeat;
    background-size: cover;

    .title_block_seven {
        color: var(--unnamed-color-ffffff);
        font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) 50px/64px var(--unnamed-font-family-open-sans);

        span {
            font: var(--unnamed-font-style-italic) normal var(--unnamed-font-weight-bold) 50px/64px var(--unnamed-font-family-open-sans);
        }
    }

    @media (max-width: 768px) { 
        .title_block_seven {
            font-size: 30px;
            line-height: 40px;

            span{
                font-size: 30px;
                line-height: 40px;
            }
            padding-bottom: 2rem;
        }
    }

    .background-form {
        background: rgb(255, 255, 255, 0.5);
        box-shadow: 3px 3px 6px #00000029;
        border-radius: 24px;

        @media (max-width: 576px) { 
            padding-right: 3rem;
            padding-left: 3rem;
        }

        .contact_form {

            .title_form {
                font: var(--unnamed-font-style-normal) normal normal var(--unnamed-font-size-24)/66px var(--unnamed-font-family-open-sans);
                color: var(--unnamed-color-000000);
                text-align: left;
            }

            @media (max-width: 768px) { 
                .title_form {
                    font-size: 20px;
                }
            }

            .togglebuttons {

                display: grid;
                justify-items: center;
                margin-bottom: 4rem;

                .wpcf7-list-item {
                    margin-bottom: 2rem;
                    margin-left: 0;
                    margin-right: 1rem;
                }

                @media (max-width: 576px) {
                    @include grid-buttons-2();
                }

                @media (min-width: 1201px) {
                   @include grid-buttons-2();
                }


                &>span input {
                    opacity: 0;
                    position: absolute;
                }

                &>span .wpcf7-list-item-label {
                    cursor: pointer;
                    display: block;
                    height: 54px;
                    width: 252px;
                    border: 2px solid var(--unnamed-color-6744f8);
                    background: rgb(243, 243, 243, .5);
                    border-radius: 10px;
                    

                    color: var(--unnamed-color-000000);
                    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-medium) var(--unnamed-font-size-24)/var(--unnamed-line-spacing-33) var(--unnamed-font-family-open-sans);
                    text-align: center;
                    line-height: 50px !important;                    
                    
                }

                @media (max-width: 576px) { 
                    &>span .wpcf7-list-item-label {
                        width: 151px;
                        font-size: 20px;    
                    }
                }

                &>span input:checked+.wpcf7-list-item-label {
                    background: var(--unnamed-color-8000b7);
                    border: 1px solid var(--unnamed-color-8000b7);;
                    color: #ffffff;
                    font-weight: bold;
                }
            }

            .label_name, .label_email, .label_phone {

                width: 100%;
                .name, .email, .phone{
                    background: none;
                    border: none;
                    border-bottom: 1.5px solid #ccc !important;
                    padding-bottom: 10px;
                    width: 100%;
                }
    
                .name::placeholder, .email::placeholder, .phone::placeholder {
                    font: var(--unnamed-font-style-italic) normal var(--unnamed-font-weight-medium) var(--unnamed-font-size-24)/var(--unnamed-line-spacing-33) var(--unnamed-font-family-open-sans);
                    opacity: 0.68;
                    color: var(--unnamed-color-000000);
                }
            }

            .submit_button {
                input {
                    background: var(--unnamed-color-8000b7) 0% 0% no-repeat padding-box;
                    border-radius: 36px;
                    border: 3px solid transparent;
                    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-24)/var(--unnamed-line-spacing-33) var(--unnamed-font-family-open-sans);
                    color: var(--unnamed-color-ffffff);
                    text-align: center;
                    padding: 0.5rem 1rem !important;
                }

                input:hover {
                    color: var(--unnamed-color-8000b7);
                    background: transparent;
                    border: 3px solid var(--unnamed-color-8000b7);
                }
            }
        }
    }
    #button_up {
        position: absolute;
        right: 5rem;
        height: 100px;
        width: 100px;
        background-color: transparent;
        border: none;
    }

    @media (max-width: 1199px) { 
        #button_up {
            font-size: 30px;
            
            svg {
                display: none; 
                position: initial;
            }
        }
    }
}