#block_6 {
    @include padding_50();

    @media (min-width: 768px) { 
        @include padding_200();
    }
    
    .title_block_six {
        font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) 48px/60px var(--unnamed-font-family-open-sans);
        color: var(--unnamed-color-3c3c3c);

        span {
            font: var(--unnamed-font-style-italic) normal var(--unnamed-font-weight-bold) 48px/60px var(--unnamed-font-family-open-sans);
            color: var(--unnamed-color-8000b7);
        }
    }

    @media (max-width: 768px) { 
        .title_block_six {
            font-size: 36px;
            line-height: 40px;
            span{
                font-size: 36px;
                line-height: 40px;
            }
            padding-bottom: 2rem;
        }
    }

    .card {
        box-shadow: 0px 3px 6px #00000029;
        border-radius: 10px;

        p {
            font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-medium) 20px/30px var(--unnamed-font-family-open-sans);
            color: var(--unnamed-color-3c3c3c);
        }

        @media (max-width: 768px) { 
            p {
                font-size: 18pt;
                line-height: 24px;
            }
        }

        .bookmark_svg {
            background-image: url('../../../../uploads/assets/bookmark-fill.svg');
            background-size: contain;
            background-repeat: no-repeat;
            width: 40px;

            .bookmark_text {
                span {
                    color: var(--unnamed-color-ffffff);
                    font: var(--unnamed-font-style-normal) normal 800 30px/41px var(--unnamed-font-family-open-sans);
                }
            }
            
            
        }
    }
}