#block_table {

  @media (max-width: 1199px) { display: none; }
  .container {

    .header_1,.header_2,.header_3,.header_4 {
        font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) 34px/var(--unnamed-line-spacing-36) var(--unnamed-font-family-open-sans);
        color: var(--unnamed-color-4e4e4e);
    }

    .table>:not(caption)>*>* {
      border-bottom-width: 0px;
    }

    #elements_hide {
      justify-content: space-between !important;
      display: none;
    }

    .table {
      opacity: 0.71;
    
      .tbody {
        tr {
          height: 46px;
          font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-medium) 20px/28px var(--unnamed-font-family-open-sans);
          color: var(--unnamed-color-3e3e3e);
  
          .svg_circle {
            height: 32px;
            width: 32px;
            fill: var(--unnamed-color-969696);
          }
        }
  
        span {
          font: var(--unnamed-font-style-italic) normal var(--unnamed-font-weight-600) 22px/26px var(--unnamed-font-family-open-sans);
          color: var(--unnamed-color-8000b7);
          text-align: left;
        }
      }
    }

    .show_table {
      z-index: 2;
      align-items: center;
      justify-content: center;
      display: flex;
      height: 66px;
      margin-top: 100px;
      position: absolute;
      left: 40%;
      background: var(--unnamed-color-8000b7) 0% 0% no-repeat padding-box;
      border: 1px solid var(--unnamed-color-707070);
      box-shadow: 0px 3px 6px #00000029;
      border-radius: 33px;

      font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-600) 34px/var(--unnamed-line-spacing-70) var(--unnamed-font-family-open-sans);
    }
    
    .close_table {
      height: 45px;
      width: 45px;
      background-image: url('../../../../uploads/assets/slide-up.svg');
      background-repeat: no-repeat;
      background-size: 40px;
      background-color: transparent;
      border: none;
    }
  }

  .line_gradient {
    z-index: 1;
    position: absolute;
    margin-top: -10rem;
    min-width: 100%;
    padding: 5rem 2rem 6rem;
    background: transparent linear-gradient(180deg, #FFFFFF00 0%, #FFFFFFBA 28%, #FFFFFFC4 34%, #FFFFFF 100%) 0% 0% no-repeat padding-box;
  }
 }


