#block_1 {

    @include padding_200();

    .title_block_one {
        color: var(--unnamed-color-8000b7);
        font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-40)/48px var(--unnamed-font-family-open-sans);
    }

    .sub_title_block_one {
        color: var(--unnamed-color-000000);
        font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-medium) 38px/46px var(--unnamed-font-family-open-sans);
    }
}