#block_1 {

    @include padding_100(); 

    @media (min-width: 768px) { 
        @include padding_200();
        .container {
            width: 75% !important;
        }
    }

    .title_block_one {
        color: var(--unnamed-color-8000b7);
        font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) 34px/48px var(--unnamed-font-family-open-sans);
    }

    @media (max-width: 768px) { 
        .title_block_one {
            font-size: 22px;
            line-height: 30px;
        }
    }

    .sub_title_block_one {
        color: var(--unnamed-color-000000);
        font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-medium) 32px/46px var(--unnamed-font-family-open-sans);
    }

    @media (max-width: 768px) { 
        .sub_title_block_one {
            font-size: 20px;
            line-height: 30px;
        }
    }

}