#block_6 {
    @include padding_200();
    
    .title_block_six {
        font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) 60px/76px var(--unnamed-font-family-open-sans);
        color: var(--unnamed-color-3c3c3c);
        text-align: left;

        span {
            font: var(--unnamed-font-style-italic) normal var(--unnamed-font-weight-bold) 60px/76px var(--unnamed-font-family-open-sans);
            letter-spacing: var(--unnamed-character-spacing-0);
            color: var(--unnamed-color-8000b7);
            text-align: left;
        }
    }

    @media (max-width: 768px) { 
        .title_block_six {
            font-size: 30pt;
            text-align: center;

            span{
                font-size: 30pt;
            }
        }
    }

    .card {
        box-shadow: 0px 3px 6px #00000029;
        border-radius: 10px;

        p {
            font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-medium) 26px/32px var(--unnamed-font-family-open-sans);
            color: var(--unnamed-color-000000);
        }

        .bookmark_svg {
            background-image: url('../../../../uploads/assets/bookmark-fill.svg');
            background-size: contain;
            background-repeat: no-repeat;
            width: 49px;

            .bookmark_text {
                margin-top: -4px;
                margin-left: 2px;
                span {
                    color: var(--unnamed-color-ffffff);
                    font: var(--unnamed-font-style-normal) normal 800 36px/49px var(--unnamed-font-family-open-sans);
                }
            }
            
            
        }
    }
}