#block_3 {
    .title_block_three {
        font: var(--unnamed-font-style-italic) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-70)/66px var(--unnamed-font-family-open-sans);
        letter-spacing: var(--unnamed-character-spacing-0);
        color: var(--unnamed-color-4e4e4e);
        text-align: left;
    
        span {
            font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-70)/66px var(--unnamed-font-family-open-sans);
            letter-spacing: var(--unnamed-character-spacing-0);
            color: var(--unnamed-color-4e4e4e);
            text-align: left;
        }
    }
    
    
    .card {
        height: 226px;
        svg {
           color: $primary;
           fill: $primary;
           width: 80px;
           height: 55px;
        }

        .card-title {
            font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-600) var(--unnamed-font-size-30)/var(--unnamed-line-spacing-41) var(--unnamed-font-family-open-sans);
            letter-spacing: var(--unnamed-character-spacing-0);
            color: var(--unnamed-color-3d3d3d);
            text-align: left;
        }
    }

    @media (min-width: 768px) { 
        .card:hover {
            cursor: pointer;
            background: var(--unnamed-color-8000b7) 0% 0% no-repeat padding-box;

            svg {
                color: #fff !important;
                fill: #fff !important;
            }

            .card-title {
                color: var(--unnamed-color-ffffff);
            }
        }
    }
}