#block_3 {
    .title_block_three {
        font: var(--unnamed-font-style-italic) normal var(--unnamed-font-weight-bold) 60px/66px var(--unnamed-font-family-open-sans);
        color: var(--unnamed-color-4e4e4e);
    
        span {
            font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) 60px/66px var(--unnamed-font-family-open-sans);
        }
    }

    @media (max-width: 768px) { 
        .title_block_three {
            font-size: 30px;
            text-align: center;

            span {
                font-size: 30px;
            }
        }
    }
    
    
    .card {
        height: 226px;
        @media (max-width: 768px) { 
            height: 8rem;
        }
        svg {
           color: $primary;
           fill: $primary;
           width: 80px;
           height: 55px;
        }

        .card-title {
            font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-600) var(--unnamed-font-size-24)/var(--unnamed-line-spacing-33) var(--unnamed-font-family-open-sans);
            letter-spacing: var(--unnamed-character-spacing-0);
            color: var(--unnamed-color-3d3d3d);
            text-align: left;
        }

        @media (max-width: 768px) { 
            .card-title {
                font-size: 18px;
                line-height: 24px;
            }
        }
    }

    @media (min-width: 768px) { 
        .card:hover {
            cursor: pointer;
            background: var(--unnamed-color-8000b7) 0% 0% no-repeat padding-box;

            svg {
                color: #fff !important;
                fill: #fff !important;
            }

            .card-title {
                color: var(--unnamed-color-ffffff);
            }
        }
    }
}