#block_2 {

    overflow-x:hidden;

    padding: 200px 0;
    .title_block_two {
        font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) 60px/76px var(--unnamed-font-family-open-sans);
        color: var(--unnamed-color-3c3c3c);

        span {
            font: var(--unnamed-font-style-italic) normal var(--unnamed-font-weight-bold) 60px/76px var(--unnamed-font-family-open-sans);
            letter-spacing: var(--unnamed-character-spacing-0);
            color: var(--unnamed-color-8000b7);
            text-align: left;
        }
    }

    .text_one_block_2, .text_two_block_2, .text_three_block_2 {
        letter-spacing: var(--unnamed-character-spacing-0);
        color: var(--unnamed-color-3d3d3d);
    }

    .block_purple {
        width: 70vw;
        margin-left: -1.5vw;
        .text_two_block_2 {
            padding-right: 30vw !important;
            color: var(--unnamed-color-ffffff);
            background: var(--unnamed-color-8000b7);
            border: 3px solid var(--unnamed-color-8000b7);
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
            opacity: 0.6;
        }
        @media (max-width: 768px) { 
            width: 100vw;
            .text_two_block_2 {
                padding-right: 20vw !important;
            }
        }
    }

    @media (max-width: 576px) { 
        .block_purple {
            margin-left:0px;

            .text_two_block_2 {
                padding-right: 10vw !important;
            }
        }
    }
    

}