@mixin font_button {
    border: 1px solid var(--unnamed-color-707070);
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 6px;
    border: 3px solid transparent;
    
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) 36px/49px var(--unnamed-font-family-open-sans);
    color: var(--unnamed-color-ffffff);
}

@mixin button_hover {
    background-color: $secondary;
    border: 3px solid $primary;
    color: $primary;
}

#block_solutions {

    @include padding_50();

    @media (min-width: 768px) { 
        @include padding_200();
    }

    .title_solutions {
        font: var(--unnamed-font-style-italic) normal var(--unnamed-font-weight-bold) 42px/50px var(--unnamed-font-family-open-sans);
        color: var(--unnamed-color-8000b7);
    }

    .sub_title_solutions {
        color: var(--unnamed-color-3c3c3c);
        font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) 42px/50px var(--unnamed-font-family-open-sans);
    }

    @media (max-width: 768px) { 
        .title_solutions, .sub_title_solutions {
            font-size: 26px;
            line-height: 40px;
        }
    }

    .card-border {
        @media (min-width: 768px) { 
            height: 1000px; 
        }
        border-top: 5px solid var(--unnamed-color-707070);

        .card-title {
            font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) 34px/46px var(--unnamed-font-family-open-sans);
            color: var(--unnamed-color-4e4e4e);
        }
        a {
            background: var(--unnamed-color-969696);
            @include font_button();
        }

        @media (max-width: 768px) { 
            .card-title {
                font-size: 30px;
                line-height: 41px;
            }
            a {
                font-size: 21px;
            }
        }
    }

    .card-border-purple {
        @media (min-width: 768px) { 
            height: 1000px; 
        }
        border-top: 5px solid var(--unnamed-color-8000b7);

        .card-title {
            font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) 34px/46px var(--unnamed-font-family-open-sans);
            color: var(--unnamed-color-8000b7);
        }
        a {
            background: var(--unnamed-color-8000b7);
            @include font_button();
        }
        a:hover {
            @include button_hover();
        }

        @media (max-width: 768px) { 
            .card-title {
                font-size: 30px;
                line-height: 41px;
            }
            a {
                font-size: 21px;
            }
        }
    }

    .card-border-purple, .card-border {
        .elements_card {

            @media (min-width: 768px) { 
                height: 60%;
            }

            ul li {
                list-style-type: none;
                margin-top: 1rem;
                background-image: url('../../../../uploads/assets/check-circle-fill.svg');
                background-repeat: no-repeat;
                background-size: 30px;
                @media (max-width: 768px) { background-size: 18px;}
                background-position-y: center;
                padding: 10px 0 10px 40px;

                font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) 22px/26px var(--unnamed-font-family-open-sans);
                color: var(--unnamed-color-3e3e3e);
            }

            ul p {
                margin: 0;
                padding-left: 40px;

                font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-600) 22px/26px var(--unnamed-font-family-open-sans);
                color: var(--unnamed-color-3e3e3e);
            }

            @media (max-width: 768px) { 
                ul { padding-left: 0rem; }
                ul li, ul p { 
                    font-size: 20px;
                    line-height: 26px;
                }
            }

        }

        .information_elements_card {

            @media (min-width: 768px) { 
                height: 15%;
            }
            ul li {
                list-style-type: none;
                font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-600) 22px/26px var(--unnamed-font-family-open-sans);
                color: var(--unnamed-color-3e3e3e);
            }

            ul li:before{ 
                content:"-"; 
                position:relative; 
                left:-5px;
            }

            @media (max-width: 768px) { 
                ul li { 
                    font-size: 20px;
                    line-height: 26px;
                }
            }
        }
    }

    .information_asterisk h2{
        margin-bottom: 2rem;
        color: var(--unnamed-color-8000b7);
        font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-600) 22px/34px var(--unnamed-font-family-open-sans);
    
        span {
            font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) 27px/34px var(--unnamed-font-family-open-sans);
        }

        @media (max-width: 768px) { 
            .information_asterisk h2 {
                font-size: 18px;
                line-height: 26px;

                span {
                    font-size: 22px;
                    line-height: 26px;
                }
            }
        }
    }

    .card-contact-us {
        .title_contact_us {
            font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) 34px/46px var(--unnamed-font-family-open-sans);
            color: var(--unnamed-color-4e4e4e);
        }
        @media (max-width: 768px) { 
            .title_contact_us {
                font-size: 24px;
                line-height: 33px;
            }
        }

    }

    .button-card-contact {
            position: absolute;
            left: 25%;
            @media (min-width: 768px) { 
                left: 45%;
            }
            margin-top: -5rem;

            background: var(--unnamed-color-8000b7);
            @include font_button();
            border-radius: 33px;

            @media (max-width: 768px) { 
                font-size: 24px;
            }

        }
        .button-card-contact:hover {
            @include button_hover();
        }


    .information_solution {
        margin-top: 10rem;
        font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-600) var(--unnamed-font-size-26)/40px var(--unnamed-font-family-open-sans);
        color: var(--unnamed-color-4e4e4e);
        text-align: left;

        @media (max-width: 768px) { 
            font-size: 19px;
            line-height: 32px;
        }
    }
}