#block_5 {
  .container {
    margin: 100px 0;

    .header_1,.header_2,.header_3,.header_4 {
        font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) 34px/var(--unnamed-line-spacing-36) var(--unnamed-font-family-open-sans);
        color: var(--unnamed-color-4e4e4e);
    }

    .table>:not(caption)>*>* {
      border-bottom-width: 0px;
    }

    .table {
    
      .tbody {
        tr {
          height: 46px;
  
          .svg_circle {
            height: 32px;
            width: 32px;
            fill: var(--unnamed-color-969696);
          }
        }
  
        tr:last-child td:first-child{
          border-bottom: 1px solid var(--unnamed-color-707070);
          border-radius: 6px;
        }
      }
    }

    .show_table {
      height: 78px;
      margin-top: 100px;
      position: absolute;
      left: 40%;
      background: var(--unnamed-color-8000b7) 0% 0% no-repeat padding-box;
      border: 1px solid var(--unnamed-color-707070);
      box-shadow: 0px 3px 6px #00000029;
      border-radius: 33px;

      font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-600) 34px/70px var(--unnamed-font-family-open-sans);
    }
    background: transparent
      linear-gradient(
        180deg,
        hsla(0, 0%, 100%, 0),
        hsla(0, 0%, 100%, 0.9) 15%,
        hsla(0, 0%, 100%, 0.98) 1%,
        #333
      );
  }
}
