@import 'bscore_variables';

.bg-light {
    background-color: $secondary;
}

@mixin padding_200 {
    padding: 200px 0;
}

#block_services {
    .title_services {
        font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) 38px/60px var(--unnamed-font-family-open-sans);
        color: var(--unnamed-color-3c3c3c);

        span {
            color: var(--unnamed-color-8000b7);
        }
    }
}