@import 'bscore_variables';

.bg-light {
    background-color: $secondary;
}

@mixin padding_50 {
    padding: 50px 0;
}

@mixin padding_100 {
    padding: 100px 0;
}

@mixin padding_200 {
    padding: 200px 0;
}

#block_services {
    .title_services {
        font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-30)/50px var(--unnamed-font-family-open-sans);
        color: var(--unnamed-color-3c3c3c);

        span {
            font: var(--unnamed-font-style-italic) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-30)/50px var(--unnamed-font-family-open-sans);
            color: var(--unnamed-color-8000b7);
        }
    }

    @media (max-width: 768px) { 
        .title_services {
            font-size: 22px;
            line-height: 40px;
        }
    }
}