#nav-main {

    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-3d3d3d);

    a.brand{
        color: var(--unnamed-color-3d3d3d);
        font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) 50px/39px var(--unnamed-font-family-open-sans);
    }

    a span {
        color: var(--unnamed-color-3d3d3d);
        font: var(--unnamed-font-style-italic) normal var(--unnamed-font-weight-bold) 50px/39px var(--unnamed-font-family-open-sans);
    }

    #mega-menu-main-menu {
        .mega-menu-link {
            font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-600) var(--unnamed-font-size-24)/var(--unnamed-line-spacing-33) var(--unnamed-font-family-open-sans);
            &:hover {
                border-bottom: 2px solid $primary !important;
                font: var(--unnamed-font-style-italic) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-24)/var(--unnamed-line-spacing-33) var(--unnamed-font-family-open-sans);
            }
        }

        #mega-menu-item-102 {
            width: 252px;
            height: 73px;
            background: var(--unnamed-color-8000b7) 0% 0% no-repeat padding-box;
            border-radius: 37px;

            .mega-menu-link {
                color: $secondary;
                font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-600) var(--unnamed-font-size-24)/var(--unnamed-line-spacing-33) var(--unnamed-font-family-open-sans);
                letter-spacing: var(--unnamed-character-spacing-0);
                text-align: center;
                line-height: 73px !important;

                &:hover {
                    border-bottom: none !important;
                }
            }

            &:hover {
                font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-600) var(--unnamed-font-size-24)/var(--unnamed-line-spacing-33) var(--unnamed-font-family-open-sans);
                background-color: $secondary;
                border: 3px solid $primary;
                .mega-menu-link {
                    color: $primary;
                }
            }
        }
    }
}