#nav-main {

    position: absolute;
    z-index: 200;
    width: 100%;

    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-3d3d3d);

    a.brand {
        color: var(--unnamed-color-ffffff);
        font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) 50px/39px var(--unnamed-font-family-open-sans);
    }

    a span {
        color: var(--unnamed-color-ffffff);
        font: var(--unnamed-font-style-italic) normal var(--unnamed-font-weight-bold) 50px/39px var(--unnamed-font-family-open-sans);
    }

    a span:last-child {
        color: var(--unnamed-color-8000b7);
    }

    #mega-menu-main-menu, #mega-menu-danish {
        .mega-menu-link {
            font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-600) var(--unnamed-font-size-24)/var(--unnamed-line-spacing-33) var(--unnamed-font-family-open-sans);
            
            &:hover {
                border-bottom: 2px solid $primary !important;
                font: var(--unnamed-font-style-italic) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-24)/var(--unnamed-line-spacing-33) var(--unnamed-font-family-open-sans);
            }
        }

        li:last-child {
            background: var(--unnamed-color-8000b7);
            border-radius: 37px;
            border: 3px solid transparent;

            .mega-menu-link {
                color: var(--unnamed-color-f3f3f3);
                padding: 1.5rem !important;
                font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-600) var(--unnamed-font-size-24)/var(--unnamed-line-spacing-33) var(--unnamed-font-family-open-sans) !important;
                align-items: center !important;
                justify-content: center !important;
                display: flex !important;

                &:hover {
                    border-bottom: none !important;
                }
            }

            &:hover {
                font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-24)/var(--unnamed-line-spacing-33) var(--unnamed-font-family-open-sans) !important;
                background-color: var(--unnamed-color-f3f3f3) !important;
                border: 3px solid var(--unnamed-color-8000b7) !important;
        
                .mega-menu-link {
                    color: var(--unnamed-color-8000b7) !important;
                }
            }
        }
    }

    .navbar_toggler {
        color:#8000B7;
        border: none;
        background-color: none !important;

        svg {
            height: 40px;
        }
    }

}