#nav-main {

    position: absolute;
    z-index: 200;
    width: 100%;

    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-3d3d3d);

    a.brand {
        color: var(--unnamed-color-ffffff);
        font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) 50px/39px var(--unnamed-font-family-open-sans);
    }

    a span {
        color: var(--unnamed-color-ffffff);
        font: var(--unnamed-font-style-italic) normal var(--unnamed-font-weight-bold) 50px/39px var(--unnamed-font-family-open-sans);
    }

    a span:last-child {
        color: var(--unnamed-color-8000b7);
    }

    #mega-menu-main-menu, #mega-menu-danish {
        .mega-menu-link {
            font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-600) var(--unnamed-font-size-24)/var(--unnamed-line-spacing-33) var(--unnamed-font-family-open-sans);
            
            &:hover {
                border-bottom: 2px solid $primary !important;
                font: var(--unnamed-font-style-italic) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-24)/var(--unnamed-line-spacing-33) var(--unnamed-font-family-open-sans);
            }
        }

        #mega-menu-item-102, #mega-menu-item-370 {
            background: var(--unnamed-color-8000b7) 0% 0% no-repeat padding-box;
            border-radius: 37px;

            .mega-menu-link {
                color: $secondary;
                padding: 1.5rem;
                font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-600) var(--unnamed-font-size-24)/var(--unnamed-line-spacing-33) var(--unnamed-font-family-open-sans);
                align-items: center;
                justify-content: center;
                display: flex;
            
                &:hover {
                    border-bottom: none !important;
                }
            }

            &:hover {
                font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-600) var(--unnamed-font-size-24)/var(--unnamed-line-spacing-33) var(--unnamed-font-family-open-sans);
                background-color: $secondary;
                border: 3px solid $primary;
        
                .mega-menu-link {
                    color: $primary;
                }
            }
        }
    }

    .navbar_toggler {
        color:#8000B7;
        border: none;
        background-color: none !important;

        svg {
            height: 40px;
        }
    }

}