#rectangle_one {
    height: calc(100vh - 32px);
    max-height: 100%;
    overflow: hidden;
    position: relative;

    .element {
        /* UI Properties */
        color: var(--unnamed-color-3c3c3c);
        letter-spacing: var(--unnamed-character-spacing-0);

        .learn_more, .contact_us {
            width: 252px;
            height: 72px;
            border-radius: 36px;
        }

        .learn_more {
            background-color: $secondary;
            font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-600) var(--unnamed-font-size-24)/var(--unnamed-line-spacing-33) var(--unnamed-font-family-open-sans);
            color: var(--unnamed-color-3e3e3e);
            border: 4px solid var(--unnamed-color-6744f8);
        }

        .contact_us {
            font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-24)/var(--unnamed-line-spacing-33) var(--unnamed-font-family-open-sans);
            color: var(--unnamed-color-ffffff);
        }

        .contact_us:hover {
            background-color: $secondary;
            border: 3px solid $primary;
            color: $primary;
        }

    }

    .scroll_down {
        color: $primary;
        display: block;
        position: absolute;
        left: 5rem;
        bottom: 20px;
    }
}