#rectangle_one {
    background: $secondary 0% 0% no-repeat padding-box;
   
    .element {
        /* UI Properties */
        color: var(--unnamed-color-3c3c3c);
        letter-spacing: var(--unnamed-character-spacing-0);

        h1.title {
            font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) 80px/var(--unnamed-line-spacing-70) var(--unnamed-font-family-open-sans);
        }

        h1::first-letter {
            font: var(--unnamed-font-style-italic) normal var(--unnamed-font-weight-bold) 80px/var(--unnamed-line-spacing-70) var(--unnamed-font-family-open-sans) !important;
           
        }

        h1.subtitle {
            font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-70)/var(--unnamed-line-spacing-70) var(--unnamed-font-family-open-sans);
        }

        .learn_more, .contact_us {
            width: 252px;
            height: 72px;
            border-radius: 36px;
            text-align: center;
        }

        .learn_more {
            font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-600) var(--unnamed-font-size-24)/var(--unnamed-line-spacing-33) var(--unnamed-font-family-open-sans);
            color: var(--unnamed-color-3e3e3e);
            border: 4px solid var(--unnamed-color-6744f8);
        }

        .contact_us {
            font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-24)/var(--unnamed-line-spacing-33) var(--unnamed-font-family-open-sans);
            color: var(--unnamed-color-ffffff);
        }

    }

    .bi-arrow-down-circle{
        color: $primary;
        margin-left: 240px;
        margin-bottom: 54px;
    }
}